:root{
    --primary-color: #00171f;
    --nav-color: #e5e5e5;
    --fonts-color: #edff22;
    --fonts-color2:#f1faee;
}

body{
    background-color: var(--primary-color);

}

h2{
    color: var(--fonts-color);
    font-weight: 800;
    font-size: xx-large;
}


nav{
    position: fixed;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 19px;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 10px 24px;
    color: var(--nav-color);
    cursor: pointer;
}

nav ul:hover  li:hover a:hover  {
  color: #555;
}
#logo {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 100px;
    width: 130px;
    cursor: pointer;
  }
  .intro{
      display: flex;
      justify-content: center;
      padding: 200px;

  }


  hr{
    border-left: 2px solid white; /* Adjust the color and thickness as needed */
    height: 0.2; /* Adjust the height of the line */
    margin-left: 0;
  }

  .education{
    color: var(--fonts-color2);
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;
    /* padding: 14em; */
  }
  h2 {
    position: relative;
    padding-bottom: 1rem;
    display: block;
    line-height: inherit;
    margin-left: 270px;
    color: var(--fonts-color2);
  }
  
h4{
  position: relative;
  padding-top: 0rem;
  display: block;
  color: whitesmoke;
  margin-left: 270px;
}


h2:hover a:hover{
  transition: .3s;
  color: red;

}